/* Police des titres */
@font-face {
    font-family: 'Aniron';
    src: url('../fonts/pete-klassen_aniron/Aniron-7BaP.ttf');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h2.h4, h3, h4, h5, h6,
.nav-link, form, .card-header, .card table th, footer { font-family: 'Aniron'; }
/* Police des textes */
@font-face {
    font-family: 'Party Business';
    src: url('../fonts/party-business/partybusiness.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Party Business';
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
/* HEADER */
header .navbar {
    background-color: #fe661d;
}
.navbar-brand img { width: 210px; }
.navbar-light .navbar-nav .nav-link { 
    color: #fff;
    font-size: 0.875em;
}
.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    border-bottom: 3px solid;
}
/* SLIDER */
.carousel-caption {
    top: 33%;
}
.carousel-inner h5 { 
    font-size: 2.5rem;
    line-height: 3; 
}
.carousel-inner p {
    font-size: 2.5rem;
    letter-spacing: 3px;
}
/* Section FELLOWS */
#fellows {
    background: url('../img/bg_light.png');
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
    color: #fe661d;
    border-bottom: 3px solid;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.nav-pills .nav-link {
    color: #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #fellows .card {
        text-align: center;
        cursor: pointer;
    }
    #fellows .card-body {
        position: absolute;
        width: 100%;
    }
    #fellows .card-body p, #fellows .card-body h5 { position: relative; }
    #fellows .card p {
        margin: auto;
        width: 80%;
        padding: 1em 0em;
        bottom:1em;
        background-color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        opacity: .81;
    }
    #fellows .card h5 {
        top: 4.3em;
        font-weight: bold;
        font-size: 1.5em;
        transition: all ease .5s;
    }
    #fellows .card img {
        opacity: .5;
        transition: all ease .5s;
    }
    #fellows .card:hover img { opacity: 1;} 
    #fellows .card:hover h5 { 
        top:10.2em;
        font-size: 1em;
    }
    #fellows .container .row div:nth-child(1) .card:hover h5, #fellows .container .row div:nth-child(2) .card:hover h5 { color: #fff; }
    #fellows .container div:last-child .card:hover h5 { color: #000; }
    #fellows .card:hover p {
        z-index: -1;
    }
}